@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }
}

@layer components {
  .settings-selector {
    @apply border border-gray-600 w-full text-gray-600 dark:text-gray-400 bg-gray-300 dark:bg-gray-900 shadow-sm outline-none appearance-none focus:border-blue-600
  }

  .settings-gtext {
    @apply pb-3 text-gray-700 dark:text-gray-500 pl-4
  }

  .settings-input {
    @apply text-gray-600 dark:text-gray-400 bg-gray-200 dark:bg-gray-900 border border-gray-600 focus:border-blue-600
  }

  .settings-input-label {
    @apply pb-3 pt-3 text-gray-700 dark:text-gray-500
  }

  .settings-input-range {
    @apply w-full h-2 bg-gray-200 dark:bg-gray-900 rounded-lg appearance-none cursor-pointer
  }
  .channel-bar {
    @apply w-80 h-screen bg-gray-200 dark:bg-gray-800 shadow-lg overflow-y-scroll absolute scrollbar;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start;
  }

  .channel-block {
    @apply flex items-center justify-center 
    h-16 
    mt-0 p-0;
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-bold 
    text-gray-600 dark:text-gray-400 
    mr-auto ml-4 my-auto align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2
    transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-evenly
    mx-0 text-gray-500
    cursor-pointer;
  }

  .dropdown-header-text {
    @apply text-gray-500  text-opacity-90 
    text-lg font-semibold
    cursor-default;
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 text-opacity-90 text-lg font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
    mt-1 mr-auto ml-2
    transition duration-300 ease-in-out
    cursor-pointer;
  }

  .dropdown-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
    mr-auto 
    transition duration-300 ease-in-out 
    hover:text-blue-500 dark:hover:text-gray-500
    cursor-pointer;
  }

  .content-container {
    @apply flex flex-col
    bg-gray-300 dark:bg-gray-700;
  }

  .content-list {
    @apply flex flex-col left-0 right-0 bottom-0 items-center 
    pb-16 
    ml-0 overflow-y-scroll;
  }

  .post {
    @apply w-full
    flex flex-row items-center justify-evenly
    py-4 px-8 m-0;
  }

  .post-selected {
    @apply bg-green-400 dark:bg-gray-900
    shadow-md;
  }

  .post-content {
    @apply w-full
    flex flex-col justify-start 
    ml-auto;
  }

  .post-text {
    @apply text-lg text-left text-gray-800 dark:text-white 
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply text-left font-semibold text-gray-800 dark:text-white mr-2;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center
    w-12 
    m-0 mr-8 ml-2 mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-100 
    mb-auto mt-0 mx-0;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-500 dark:text-gray-600 ml-2;
  }

  .bottom-bar {
    @apply fixed h-12 bottom-4 left-0 right-0 mx-8 rounded-lg shadow-lg bg-gray-400 dark:bg-gray-600
  }

  .bottom-bar-input {
    @apply font-semibold pt-0 absolute
    bg-transparent h-4 shadow-none
    outline-none
    text-gray-500 dark:text-gray-400 placeholder-gray-500
    cursor-text;
  }
}